#articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-style: dashed;
    border-top: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-radius: 0.2em;
    border-color: grey;
}

.user > img {
    width: 30em;
}